.edit-place {
    display: block;
    padding: 15px;
    border: 1px solid gray;
}

.rowDropzone {
    width: 95%;
    display: flex;
    border: 1px solid pink;
}

.dropboxRow {
    display: flex;
    /* margin: 5%; */
    width: 100%;
    border: 1px solid black;
}

.dropbox {
    display: flex;
    margin: 5%;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}