<cdk-drop #todoList class="edit-place" orientation="vertical">
	<cdk-drop class="rowDropzone" orientation="horizontal" 
    *ngFor="let rowData of rows"
	  cdkDrag>

		<div *ngFor="let item of rowData" class="dropbox" cdkDrag>{{item.id}}cube
		</div>

		<div class="handle">
			<svg cdkDragHandle width="24px" fill="currentColor" viewBox="0 0 24 24">
				<path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14                              2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
				<path d="M0 0h24v24H0z" fill="none"></path>
			</svg>
		</div>
	</cdk-drop>
</cdk-drop>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->